<div class="sidebar">
    <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    <p>{{ site.description }}</p>
    <ul class="contact-list">
      {% for my_page in site.pages %}
        {% if my_page.title %}
        <li><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
    <ul class="contact-list">
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
    </ul>
    <ul class="social-media-list">
        {% if site.github_username %}
        <li>
            {% include icon-github.html username=site.github_username %}
        </li>
        {% endif %} {% if site.twitter_username %}
        <li>
            {% include icon-twitter.html username=site.twitter_username %}
        </li>
        {% endif %}
        <li>
            <p class="rss-subscribe">
                <a href="{{ " /feed.xml " | prepend: site.baseurl }}">subscribe via RSS</a>
            </p>
        </li>
    </ul>
</div>